.login_page{
    height: calc(100vh - 7rem);
    width: 100vw;
    background-color: rgb(150, 150, 150);
    display: flex;
    align-items: center;
    justify-content: center;

    .login_block{
        background-color: white;
        border-radius: 0.25rem;
        @include size-query(small) {
            width: 80%;
        }
        @include size-query(large) {
            width: 50%;
        }
    }

    .login_form{
        margin: 2rem;
        display: flex;
        flex-direction: column;
    }
}

.inactive_tab_content{
    display: none!important;
}


.send_message_container{
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .inner_send_message_container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.main_calendar{
    width: 100%;
    border-collapse: collapse;

    th, td {
        padding: 8px;
        border: 1px solid #ddd;
        text-align: center;
    }
    th {
        background-color: #f2f2f2;
    }
    td {
        height: 2rem;
    }

    .event-block {
        background-color: lightblue;
        padding: 5px;
        box-sizing: border-box;
        z-index: 2;
    }
}

.players{
    border-radius: $border-radius;
    border: 1px solid grey;
    padding: 1rem;
    margin-top: 2rem;

    .player-block{
        border-radius: 1rem;
        padding: 1rem;
        background-color: cornflowerblue;
        color: white;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 5;
    background: white;
    height: 5rem;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.3);

    .nav-button {
        @include size-query(large) {
            padding: 0.75px;
            margin: 0 0.5rem;
        }
        background-color: #fff;
        color: #000000;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }

    #today-button {
        margin: 0 10px;
        padding: 10px 20px;
        border: 1px solid #e2e2e2;
        border-radius: $border-radius;
        cursor: pointer;
    }

    .date-picker {
        position: relative;
        display: inline-block;

        #date-picker-button {
            padding: 10px 20px;
            background-color: white;
            font-weight: bold;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;

            &::after {
                content: '▼';
                margin-left: 10px;
            }
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 160px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            z-index: 1;

            input {
                width: 100%;
                padding: 5px;
                box-sizing: border-box;
            }
        }

        &.active .dropdown-content {
            display: block;
        }
    }
}

.calendar-container {
    margin-top: 6rem;
    margin-bottom: 6rem;
    display: flex;
    width: 100%;
    max-width: 1200px;
    border: 1px solid #dee2e6;
    border-right: none;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;

    .time-labels {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        background-color: #f8f9fa;
        border-right: 1px solid #dee2e6;
        font-size: 0.8rem;
        color: #686868;

        .time-label:first-child {
            height: 0px;
        }

        .time-label {
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }

    .calendar-grid {
        position: relative;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 50px repeat(13, 100px);
        width: 100%;

        .week-days {
            display: contents;

            .day-header {
                background-color: #eaeaea;
                color: black;
                padding: 10px 0;
                text-align: center;
                border-left: 1px solid #dee2e6;

                &:first-child {
                    border-left: none;
                }
            }
        }

        .time-slot {
            position: relative;
            background-color: #f8f9fa;
            box-sizing: border-box;
            border-bottom: 1px solid #dee2e6;
            border-right: 1px solid #dee2e5;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .event {
                position: relative;
                left: 0;
                right: 0;
                color: rgba(0, 0, 0, 0.4);
                /* border-left: 4px solid #007bff; */
                box-sizing: border-box;
                font-size: 0.9em;
                z-index: 2;
                padding: 5px;
                width: 100%;
                
                .event_block{
                    padding: 5px;
                    height: 100%;
                    width: 100%;
                    overflow: hidden;
                    overflow-wrap: break-word;
                    border-radius: 5px;
                    background-color: rgba(0, 123, 255, 0.2);
                    margin: 1px;

                    .event_block_title{
                        font-weight: bold;
                    }

                    .event_block_time{
                        font-size: 0.8em;
                    }
                }
            }

            &.current-hour .time-label {
                color: red;
            }
        }

        .time-indicator {
            position: absolute;
            left: 0;
            right: 0;
            height: 2px;
            background-color: red;
            z-index: 4;

            &::before {
                content: '';
                position: absolute;
                left: -5px;
                top: -5px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: red;
            }
        }
    }
}
