{% macro main_calendar() %}
<div class="calendar-header">
    <div class="calendar-header-left">
        <button id="today-button">Today</button>
        <button id="prev-week" class="nav-button"><</button>
        <button id="next-week" class="nav-button">></button>
    </div>
    <div class="calendar-header-right">
        <div class="date-picker">
            <button id="date-picker-button">
                <img src="{{url_for('static',filename='svg/calendar.svg')}}" class="calendar_button" alt="Calendar Image">
            </button>
            <div id="date-picker-dropdown" class="dropdown-content">
                <input type="date" id="date-picker-input">
            </div>
        </div>
    </div>
</div>
<div class="week-days-mobile"></div>
<div class="daily-calendar"></div>
<div class="calendar-container">
    <div class="time-labels"></div>
    <div class="calendar-grid">
        <div class="week-days"></div>
        <div class="time-slots"></div>
    </div>
</div>
{% endmacro %}