{% import 'macros/frontend_inputs.html' as inputs %}

{% macro main_calendar() %}
<div class="calendar-header">
    <div class="calendar-buttons">
        <div class="calendar-header-left">
            <button id="today-button">Today</button>
            <button id="prev-week" class="nav-button"><</button>
            <button id="next-week" class="nav-button">></button>
        </div>
        <div class="calendar-header-right">
            <div class="date-picker">
                <button id="date-picker-button">
                    <img src="{{url_for('static',filename='svg/calendar.svg')}}" class="calendar_button" alt="Calendar Image">
                </button>
                <div id="date-picker-dropdown" class="dropdown-content">
                    <input type="date" id="date-picker-input">
                </div>
            </div>
        </div>
    </div>
    <div class="event-info-header"></div>
</div>
<div class="week-days-mobile"></div>
<div class="daily-calendar"></div>
<div class="calendar-container">
    <div class="time-labels"></div>
    <div class="calendar-grid">
        <div class="week-days"></div>
        <div class="time-slots"></div>
    </div>
</div>
<div class="create_lesson_button modalActivation" data-modal_id="calendar_modal">
    +
</div>

<!-- <div id="calendar_modal" class="modal">
    <div class="modal_content">
        <div class="modal_header">
            <h4>Nova aula</h4>
            <h4 class="closeModal topButton" data-modal_id="calendar_modal">&times;</h4>
        </div>
        <div class="modal_body">
            <form id="eventForm" class="eventForm" action="/api/create_lesson" method="post" target="hidden_iframe">
                <div class="form-group">
                    {{inputs.boolean_input('Aula singular','singleClass',false)}}
                </div>
                <div class="form-group">
                    {{inputs.text_input('Nome da aula','name',true)}}
                </div>
                <div class="form-group">
                    {{inputs.select_input('Nivel','level',['Very Low','Low','Medium','High','Very High'],false)}}
                </div>
                <div class="form-group scheduled_lessons">
                    {{inputs.datetime_input('Data e hora de ínicio','start_datetime',false)}}
                </div>
                <div class="form-group single_lesson">
                    {{inputs.datetime_input('Data e hora da aula','datetime',false)}}
                </div>
                <div class="form-group">
                    {{inputs.time_input('Duração','duration',false)}}
                </div>
                <div class="form-group scheduled_lessons">
                    {{inputs.integer_input('Número de aulas','number_of_lessons',false)}}
                </div>
                <div class="form-group">
                    {{inputs.manytomany_input('Alunos','players',false,'Player')}}
                </div>
            </form>
        </div>
        <div class="modal_footer">
            <div class="btn-secondary btn closeModal" data-modal_id="calendar_modal">Cancelar</div>
            <div id="lesson_form_submit" class="btn-success btn" data-modal_id="calendar_modal" data-form_id="eventForm" name="Save Event">Confirmar</div>
        </div>
        <iframe id="hidden_iframe" name="hidden_iframe_" style="display:none;" class="hidden_iframe"></iframe>
    </div>
</div> -->
{% endmacro %}